{% extends 'layout.twig' %}

{% block body %}
    <section class="prompt">
        <h3><img src="/images/logo.png" class="image_logo"></h3>
        <h1 class="title">Cambia Password</h1>
        <form action="/change_password" method="post">
            <section>
                <label for="username">Username</label>
                <input id="username" name="username" type="text"  required>
            </section>
            <section>
                <label for="new-email">Email</label>
                <input id="new-email" name="email" type="email"  required>
            </section>
            <section>
                <label for="new-password">Password</label>
                <input id="new-password" name="password" type="password" required>
            </section>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Cambia Password</button>
        </form>
    </section>
{% endblock %}