{% extends 'layout.twig' %}

{% block body %}
  <section class="prompt">
    <h3><img src="/images/logo.png" class="image_logo"></h3>
    <h1>Sign in</h1>
    <form action="/login/password" method="post">
      <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text"  required autofocus>
      </section>
      <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" required>
      </section>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <hr>
    <p class="help">Non hai un account? <a href="/signup">Sign up</a></p>
    <p class="help">Recupera Password <a href="/recover_password">Recupera Password</a></p>
  </section>
{% endblock %}
