{% extends 'layout.twig' %}

{% block body %}
    <section class="prompt">
        <h3>CardCollection</h3>
        <h1>Recupera Password</h1>
        <form action="/recover_password" method="post">
            <section>
                <label for="username">Username</label>
                <input id="username" name="username" type="text"  required>
            </section>
            <section>
                <label for="new-email">Email</label>
                <input id="new-email" name="email" type="email"  required>
            </section>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Recupera Password</button>
        </form>
        <hr>
        <p class="help">Already have an account? <a href="/">Sign in</a></p>
    </section>
{% endblock %}
